@model List<catalog.Entities.Book>
@{
    ViewData["Title"] = "Книги";
}

<h1>Книги</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Добави книга</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Заглавие</th>
            <th>Автор</th>
            <th>Година</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Year</td>
                <td>
                    <a asp-action="Details" asp-route-id="@book.Id" class="btn btn-sm btn-info">Детайли</a>
                    <a asp-action="Delete" asp-route-id="@book.Id" class="btn btn-sm btn-danger">Изтрий</a>
                </td>
            </tr>
        }
    </tbody>
</table>